@charset "UTF-8"; @font-face {
    font-family: 'gothambold';
    src: url('../fuentes/Gotham-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamlight';
    src: url('../fuentes/Gotham-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleolight';
    src: url('../fuentes/Aleo-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleolightitalic';
    src: url('../fuentes/Aleo-LightItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoitalic';
    src: url('../fuentes/Aleo-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Generales*/
*:focus {
    outline: none;
}
html {
    font-size: 16px;
    font-family: gothamlight, sans-serif;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #868686;
}

main {
    opacity: 0;
}

div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sl-cont {
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

p {
    margin-top: 0;
}

img {
    max-width: 100%;
}

h1, h2 {
    color: #3c464c;
}

.slick-dots {
    text-align: left;
    border: none
}
.slick-dots button {
    border: none !important
}
.slick-dots li {
    margin: 0 15px;
}

.slick-dots li:first-child {
    margin-left: 0;
}

.slick-dots li button:before {
    font-size: 20px
}

.slick-dots li button:before {
    color: #868686;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    color: #f6a92f;
    opacity: 1;
}

.cornisa {
    position: fixed;
    top: 40px;
    left: 40px
}

.cornisa::before, .credito::before {
    content: "| "
}

.credito {
    position: fixed;
    bottom: 40px;
    right: 40px
}

.sl-volver {
    position: fixed;
    bottom: 40px;
    left: 40px;
    display: block;
    background: #f6a92f;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: background-color 1s ease;
}

.sl-volver:hover {
    background: #3c464c;
}

.sl-volver img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Transicion*/
.tr-overlay {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
    background-color: #f6a92f;
}

.tr-overlay.index, .tr-overlay.desarrollados {
    background: #C5C8CD;
}

.tr-overlay.venta {
    background: #3c464c;
}

.tr-overlay[class*="proyecto"] {
    background: #ffffff;
}

/*Fondos*/
.bg-cont {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@-webkit-keyframes kenny {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes kenny {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.bg-img {
    -webkit-animation: kenny 12s ease 2s forwards;
    animation: kenny 12s ease 2s forwards;
    position: absolute;
    width : 100%;
    height: 100%;
    background-size: cover;
}

/*Menu*/
.sl-nav-btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 130px;
    height: 130px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 5;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff;
    border-radius: 0;
}
.sl-proyecto .hamburger-inner, 
.sl-proyecto .hamburger-inner::before, 
.sl-proyecto .hamburger-inner::after, 
.sl-proyecto .hamburger.is-active .hamburger-inner, 
.sl-proyecto .hamburger.is-active .hamburger-inner::before, 
.sl-proyecto .hamburger.is-active .hamburger-inner::after {
    background-color: #f6a92f;
    border-radius: 0;
}
.sl-main-nav {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 25%;
    background: #3C464C;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 3;
}

.sl-main-nav ul {
    padding: 0;
    list-style-type: none;
}

.sl-main-nav ul a {
    font-family: gothambold;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: .75em;
    -webkit-transition: all 1.2s ease .3s;
    -o-transition: all 1.2s ease .3s;
    transition: all 1.2s ease .3s;
    opacity: 0;
    white-space: nowrap;
}

.sl-main-nav ul a:hover {
    opacity: .5 !important;
}

.sl-main-nav ul a.actual {
    color: #F6A92F;
    pointer-events: none;
}

.sl-main-nav ul li {
    margin-bottom: 2rem;
}

/*Activo*/
.sl-nav-btn.is-active + .sl-main-nav {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.sl-nav-btn.is-active + .sl-main-nav ul a {
    letter-spacing: 0.05em;
    opacity: 1;
}

.sl-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(12, 36, 48, 0.4);
    width: 100%;
    height: 100%;
    z-index: 2;
}

html .slick-next, html .slick-prev {
    width: 40px;
    height: 40px;
}

html .slick-next {
    right: 30px;
}

html .slick-prev {
    left: 30px;
    z-index: 5;
}

html .slick-prev:before, html .slick-next:before {
    font-size: 40px;
    color: transparent;
    border-radius: 100%;
    opacity: 1;
    background: white no-repeat center;
    transition: background-color .5s ease;
}
html .slick-prev:before {
    background-image: url(../img/f-amarilla.png);
}
html .slick-next:before {
    background-image: url(../img/f-amarillar.png);
}
html .slick-prev:hover:before, html .slick-next:hover:before {
    background-color: #3c464c;
}
html .slick-prev.slick-disabled:before, html .slick-next.slick-disabled:before {
    opacity: 0;
}

/*HOME*/
#sl-home .sl-cont {
    background: url("../img/home-fondo.jpg") no-repeat center;
    background-size: cover;
}

#sl-home h1 {
    font-size: 0;
}

#sl-home .sl-home {
    margin: 40px auto;
    width: 100%;
    max-width: 1660px;
    align-self: flex-end;
    position: relative;
}

#sl-home .sl-home ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

#sl-home .sl-home ul li {
    width: 25%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#sl-home .sl-home ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sl-home .sl-home ul li:nth-child(1) span {
    background: #f6a92f;
}

#sl-home .sl-home ul li:nth-child(2) span {
    background: #3c464c;
}

#sl-home .sl-home ul li:nth-child(3) span {
    background: #9AA1AC;
}

#sl-home .sl-home ul li:nth-child(4) span {
    background: #ffffff;
}

#sl-home .sl-home ul li:nth-child(4) a {
    color: #9AA1AC;
}

#sl-home .sl-home ul li a {
    display: block;
    padding: 80px 0;
    text-decoration: none;
    font-family: gothambold;
    color: white;
    letter-spacing: .05em;
    position: relative;
    z-index: 2;
}

#sl-home .sl-f1 {
    max-width: 960px;
    margin: 0 auto;
    height: 35vh;
}

#sl-home .sl-f1 img {
    margin-bottom: 40px;
}

#sl-home .sl-f1 span {
    font-family: gothambold;
    color: #3c454c;
    margin-left: 40px;
}

#sl-home .sl-f1 span:last-child {
    color: #ffffff;
    float: right;
}

#sl-home .dot {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: white;
    top: 0;
}

#sl-home .dot:nth-child(3) {
    top: 30px;
}

#sl-home .dot:nth-child(4) {
    top: 60px;
}

/*Nosotros*/
#sl-nosotros main {
    background: url(../img/fondo-nosotros.jpg);
    background-size: cover;
}

#sl-nosotros .cornisa, #sl-nosotros .credito {
    color: white;
}

#sl-nosotros .contenido {
    background: white;
    height: 740px;
    align-self: center;
    margin-left: 413px;
    padding: 100px 280px 160px 100px;
    position: relative;
    width: 100%;
    width: calc(100% - 413px);
    box-sizing: border-box;
}

#sl-nosotros .contenido .slide-footer {
    left: 100px;
    bottom: 60px;
    position: absolute;
    right: 280px;
    font-family: 'gothambold';
    color: #3c464c;
    display: flex;
}

#sl-nosotros .contenido .slide-footer > span:first-child {
    width: 100%;
}

#sl-nosotros .contenido .slide-footer > span:nth-child(2) {
    margin-right: 60px;
}

#sl-nosotros .contenido .slide-footer > span:first-child span, #sl-nosotros .contenido .slide-footer > span:nth-child(3) {
    color: #868686;
}

#sl-nosotros .sl-fl {
    display: flex;
    direction: row;
}

#sl-nosotros .col-1 {
    max-width: 712px;
}

#sl-nosotros .col-2 {
    padding-left: 130px;
    font-family: 'aleoitalic';
    color: #f6a92f;
    font-size: 1.5rem;
    max-width: 420px;
}

#sl-nosotros h2 {
    font-size: 3rem;
    font-family: gothambold;
    margin: 0;
    margin-bottom: 2rem;
}

#sl-nosotros .col-1 ul {
    padding-left: 1rem;
    list-style-type: none;
}

#sl-nosotros .col-1 ul li {
    position: relative;
    margin: 6px;
}

#sl-nosotros .col-1 ul li::before {
    position: absolute;
    content: "";
    background: url(../img/cruz.png) no-repeat left center;
    width: 1rem;
    height: 1rem;
    left: -1rem;
    top: 4px;
}

#sl-nosotros .sl-slide-ap {
    min-height: 480px;
}

/*En venta*/
#sl-venta .cornisa, #sl-venta .credito {
    color: white;
}

#sl-venta .bg-img {
    background-image: url(../img/fondo-ventas.jpg);
}

#sl-venta .sl-cont {
    align-items: center;
}

#sl-venta .contenido {
    width: 100%;
    max-width: 1240px;
    height: 750px;
    position: relative;
    margin: 0 auto;
}

#sl-venta .contenido ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap
}

#sl-venta .contenido ul li {
    padding: 5px;
    width: 33.33333%;
    box-sizing: border-box;
    height: calc(750px/4);
    display: flex;
}

#sl-venta .contenido ul li a {
    background: rgba(154, 161, 172, 0.8);
    text-decoration: none;
    font-family: gothambold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: background-color .5s ease;
}
#sl-venta .contenido ul li a:hover {
    background: #f6a92f;
}
#sl-venta .contenido ul li a[href="#"] {
    background: #3c464c;
    pointer-events: none;
}
/*Proyectos en venta*/
.sl-proyecto h1 {
    font-size: 3rem;
    font-family: gothambold;
    margin: 0;
    margin-bottom: 2rem;
    line-height: 1;
}
.sl-proyecto .contenido {
    display: flex;
    max-width: 100%;
    align-items:center;

}
.sl-proyecto .contenido .sl-fl-gran{
    display: flex;
    align-items:flex-start;
    width: 100%;
    max-width: 1920px;

}
.sl-proyecto .contenido .col-1 {
    width: 40%;
    max-width: 650px;
    padding: 0 130px;
}
.sl-proyecto .contenido .col-2 {
    width: 60%;
    flex-grow:2;

}
.sl-proyecto .sl-fl {
    display: flex;
    color: #3c464c;
    margin-bottom: 1rem;
    border-top: 1px solid #cecece;
}
.sl-proyecto .sl-fl > div {
    width: 50%
}
.sl-proyecto .sl-fl h3 {
    font-family: gothambold;
}
.sl-proyecto .ubicacion p{
    margin: 0;
    color: #f6a92f;
    font-family: 'aleoitalic';
}
.sl-proyecto .sl-fl ul {
    padding: 0;
}
.sl-proyecto .sl-fl ul li {
    position: relative;
    list-style-type: none;
}

.sl-proyecto .sl-fl ul li::before {
    position: absolute;
    content: "";
    background: url(../img/cruz.png) no-repeat left center;
    width: 1rem;
    height: 1rem;
    left: -1rem;
    top: 4px;
}

.sl-proyecto .slick-dots {
    bottom: -50px;
    
}
.sl-proyecto ul[role=tablist] {
    margin-bottom: 6px;
    border:  none
}
.sl-proyecto .pesti {
    border-radius: 0;
    min-width: 180px;
    text-align: center;
    border: none !important;
    background-color: #9aa1ac;
    text-transform: uppercase;
    font-family: gothambold;
    color: #3c464c;
    transition: background-color .3s ease;
}
.sl-proyecto .pesti:focus {
    outline: none;
}
.sl-proyecto .pesti:hover {
    background-color: #c5c7ca;
}
.sl-proyecto .pesti[role=tab][aria-selected=true] {
    color: white;
    background-color:#f6a92f;
}
.sl-proyecto .sol-tab {
    max-height: calc(100vh - 360px);
    background: #ededed;
}
.sl-proyecto .sol-tab  img{
    max-height: calc(100vh - 370px);
    padding: 5px 0 5px 5px;
}
.sl-proyecto [role=tabpanel][hidden] {
    display: block;
    height: 0;
    overflow: hidden;
}
.sl-proyecto .sol-tab img {
    height: 100%;
    width: auto;
}
.proy-nav {
    position: fixed;
    right: 60px;
    bottom: 40px;
    height: 40px;
    width :140px;
    display: flex;

}
.proy-nav a {
    width: 40px;
    height: 40px;
    transition: background-color .8s ease;
    border-radius: 100%;
}
.proy-nav .sl-proy {
    margin: 0 10px;
    background: #f6a92f url(../img/dots-.png) no-repeat center;
    background-size: 16px;
    
}
.proy-nav .sl-prev {
    background: url(../img/f-grisl-.png) no-repeat center;
}
.proy-nav .sl-next {
    background: url(../img/f-grisr-.png) no-repeat center;
}
.proy-nav a:hover {
    background-color: #3c464c;
}
/*Desarrollados*/
#sl-desarrollados .bg-img {
    background-image: url(../img/fondo-desarrollados.jpg);
}
#sl-desarrollados .contenido {
    
    width: calc(100% - 170px);
    max-width: 1520px;
    height: 720px;
    position: relative;
    margin: 0 auto;
    align-self: center;
}
#sl-desarrollados .slide-cont {
    width: 100%;
    height: 720px;
    display: flex;
    flex-wrap: wrap;

}
#sl-desarrollados .sl-proy-des {
    width: 50%;
    padding: 5px;
    position: relative;
    max-height: 50%;
    
}
#sl-desarrollados .sl-proy-des .sl-preview {
    position: absolute;
    z-index: 2;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 1s ease;
}
#sl-desarrollados .sl-proy-des .sl-preview.oculto {
    opacity: 0;
}
#sl-desarrollados .sl-proy-des .sl-preview span {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    color: white;
    font-family: gothambold;
    transform: translate(-50%, -50%);
}
#sl-desarrollados .sl-proy-des .sl-preview img {
    object-fit:cover;
    width: 100%;
    height: 100%;

}
#sl-desarrollados .sl-proy-des .sl-info {
    display: flex;
    background: rgba(255, 255, 255, 0.85);
    height: 100%;
}
#sl-desarrollados .sl-proy-des .sl-info .col-1 {
    position: relative;
    width: 45%;
}
#sl-desarrollados .sl-proy-des .sl-info .col-1 .img-cont {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f6c322;
}
#sl-desarrollados .sl-proy-des .sl-info .col-1 .img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#sl-desarrollados .sl-proy-des .sl-info .col-2 {
    width: 55%;
    padding: 30px;
    font-size: 14px;
}
#sl-desarrollados .sl-proy-des .sl-info .col-2 h2 {
    margin: 0;
}
#sl-desarrollados .sl-proy-des .sl-info .col-2 h2,
#sl-desarrollados .sl-proy-des .sl-info .col-2 h3 {
    display: inline;
    font-size: 1.2rem;
}
#sl-desarrollados .col-2 ul {
    padding-left: 1rem;
}
#sl-desarrollados .col-2 ul li {
    position: relative;
    list-style-type: none;
}
#sl-desarrollados .col-2 ul li::before {
    position: absolute;
    content: "";
    background: url(../img/cruz.png) no-repeat left center;
    width: 1rem;
    height: 1rem;
    left: -1rem;
    top: 0;
}
#sl-desarrollados .sl-info h2,
#sl-desarrollados .sl-info .area {
    font-family: gothambold;
    color: #575C65;
    
}
#sl-desarrollados .cornisa {
    color: white;
}
#sl-desarrollados .cornisa h1 {
    font-size: 1rem;
    display: inline;
    color: white;
    font-weight: normal;
}
#sl-desarrollados .slick-dots {
    bottom: -48px;
}
#sl-desarrollados .slick-dots li button:before {
    color: #ffffff;
}

#sl-desarrollados .slick-dots li.slick-active button:before {
    color: #f6a92f;
}